.c-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  padding: 0.4rem 0.9rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 0.1em;

  &:hover {
    opacity: 0.8;
  }
}

.c-button__close {
  background-color: #e6e6e6;
  color: #000;

  &:hover {
    color: #000;
  }
}

.c-button__inquiry {
  color: #fff;
  border: 1px solid #fe7e17;
  background-color: #fe7e17;

  &:hover {
    color: #fff;
  }
}

.c-button__contact {
  color: #fe7e17;
  border: 1px solid #fe7e17;
  background-color: #fff;

  &:hover {
    color: #fe7e17;
  }
}

.c-button__inquiry-icon {
  &:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: url("/images/common/icon-mail.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
  }
}

.c-button__submit {
  width: 100%;
  color: #fff;
  border: 1px solid #fe7e17;
  background-color: #fe7e17;

  &:hover {
    color: #fff;
  }

  &:disabled {
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #696969;
    cursor: default;
  }
}

.c-button--loading {
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  color: #696969;
  cursor: default;

  &:hover {
    color: #696969;
  }
}
