.c-button {
  //padding: 0.7rem 1.5rem;
  text-align: center;
  //font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  line-height: 1;
  font-weight: bold;
  font-size: 0.86rem;
  //padding: 0 20px;
  padding: 0.8rem 1.2rem;
  //@error: 40px;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  // display: inline-flex;
  // align-items: center;
  // justify-content: center;
  display: inline-block;

  &:hover {
    opacity: 0.8;
  }
}

.c-button--close {
  background-color: #e6e6e6;
  color: #000;
}

.c-button__inquiry-icon {
  &:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: url("/images/common/icon-mail.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
  }
}

.c-button__inquiry {
  color: #fff;
  border: 1px solid #ff7e00;
  background-color: #ff7e00;
  // border-radius: 6px;
  // font-weight: bold;
  // font-size: 12px;
  // padding: 0 10px;
  // height: 40px;
  // display: inline-flex;
  // align-items: center;
  // -webkit-transition: all 0.3s;
  // transition: all 0.3s;
  // justify-content: center;

  &:hover {
    opacity: 0.8;
  }
}

.c-button__contact {
  color: #ff7e00;
  border: 1px solid #ff7e00;
  background-color: #fff;
  // border-radius: 6px;
  // font-weight: bold;
  // font-size: 12px;
  // padding: 0 20px;
  // height: 40px;
  // display: inline-flex;
  // align-items: center;
  // -webkit-transition: all 0.3s;
  // transition: all 0.3s;
  // justify-content: center;
}

.c-submit {
  text-align: center;
  border-radius: 6px;
  margin-bottom: 25px;
  width: 100%;
  padding: 15px 40px;
  display: block;
  letter-spacing: 0.05em;
  background: #ff7e00;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.c-submit:hover {
  background: #ffa246;
}
.c-submit--loading {
  background-color: #e6e6e6;
  color: #696969;
  cursor: default;
}
.c-submit--loading:hover {
  background-color: #e6e6e6;
}
