.c-button {
  display: inline-block;
  font-size: 0.86rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  letter-spacing: 0.05em;

  &:hover {
    opacity: 0.8;
  }
}

.c-button__close {
  background-color: #e6e6e6;
  color: #000;

  &:hover {
    color: #000;
  }
}

.c-button__inquiry {
  color: #fff;
  border: 1px solid #ff7e00;
  background-color: #ff7e00;

  &:hover {
    color: #fff;
  }
}

.c-button__inquiry--header {
  font-size: 0.75rem;
  padding: 0.6rem 1.1rem;
  border-radius: 100px;
}

.c-button__contact {
  color: #ff7e00;
  border: 1px solid #ff7e00;
  background-color: #fff;

  &:hover {
    color: #ff7e00;
  }
}

.c-button__inquiry-icon {
  &:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background: url("/images/common/icon-mail.png") no-repeat;
    background-size: contain;
    vertical-align: middle;
  }
}

.c-button__submit {
  width: 100%;
  color: #fff;
  border: 1px solid #ff7e00;
  background-color: #ff7e00;

  &:hover {
    color: #fff;
  }

  &:disabled {
    background-color: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: #696969;
    cursor: default;
  }
}

.c-button--loading {
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  color: #696969;
  cursor: default;

  &:hover {
    color: #696969;
  }
}
