.c-form__notice {
  display: inline-block;
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.5em;
  line-height: 1;
}

.c-form__notice--must {
  color: #e83656;
}

.c-form__title {
  font-size: 0.86rem;
  letter-spacing: 0.05em;
  line-height: 2.2;
  font-weight: bold;
}

.c-form__input {
  width: 100%;
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
  padding: 16px 16px;
  font-size: 16px;
}

.c-form__content-header {
  display: block;
  font-size: 0.87em;
  border-radius: 4px;
  color: #333;
}

.c-form__content-select {
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
  padding: 16px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
