@media screen and (max-width: 920px) {
  .c-menu {
    display: -webkit-box;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

  .c-menu__checkbox {
    display: none;
  }

  .c-menu__checkbox:checked ~ .p-header__navigation {
    display: block;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0px;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    min-height: calc(100vh - 40px);
  }

  .c-menu__inner {
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .c-menu__inner--line {
    height: 2px;
    width: 70%;
    background-color: #000;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .c-menu__inner--label {
    font-size: 10px;
    line-height: 1;
  }
}
