.c-navigation {
  margin: 0;
  padding: 0;

  & > ul {
    display: flex;
  }
}

.c-navigation__list {
  display: inline-block;
  padding: 0 15px;
}

.c-navigation__link {
  display: block;
  //padding: 25px 0;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-size: 13px;
  font-weight: bold;

  &:hover {
    color: #fe7e17;
  }
}

/* スマホ用ハンバーガーメニュー */
@media screen and (max-width: 920px) {
  .c-navigation {
    margin: 0;

    & > ul {
      flex-direction: column;
    }
  }

  .c-navigation__list {
    display: block;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 0;
  }

  .c-navigation__link {
    padding: 15px 0;
  }
}
