.c-table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  table-layout: fixed;

  th {
    width: 7em;
    color: #7c7c7c;
    font-weight: normal;
  }

  th,
  td {
    background-color: #fff;
    border-width: 0px 0px 1px 0px;
    border-color: #c9c9c9;
    border-style: solid;
    padding: 10px;
    vertical-align: top;
    text-align: left;
  }
}
