.c-table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  table-layout: fixed;

  th {
    font-weight: bold;
    width: 20%;
  }

  td {
    text-align: left;
  }

  th,
  td {
    background-color: #fff;
    border: 1px solid #bbb;
    padding: 1em;
  }
}
