.p-articles {
  text-align: left;
  font-size: 0.86em;
}

.p-article {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 40px;
}

.p-form {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.p-form__header {
  font-size: 14px;
  margin-bottom: 5px;
}

.p-form__body {
  width: 100%;
}

.c-form__notice {
  border-radius: 6px;
  margin-left: 8px;
  padding: 0.5em;
  line-height: 1;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
}

.c-form__notice--must {
  color: #e83656;
}

.c-form-header__title {
  font-weight: bold;
  color: #323232;
}

.c-form-content {
  margin-bottom: 10px;
}
.c-form-content__header {
  display: block;
  // padding: 0 1em;
  //background-color: #eaeaea;
  font-size: 0.87em;
  border-radius: 4px;
  color: #333;
}

.c-form-content__select {
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding-left: 5px;
  height: 42px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.c-form-content__input {
  width: 100%;
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 12px 10px;
  font-size: 16px;
}

.c-submit {
  text-align: center;
  border-radius: 6px;
  margin-bottom: 25px;
  width: 100%;
  padding: 15px 40px;
  display: block;
  letter-spacing: 0.05em;
  background: #ff7e00;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.c-submit:hover {
  background: #ffa246;
}
.c-submit--loading {
  background-color: #e6e6e6;
  color: #696969;
  cursor: default;
}
.c-submit--loading:hover {
  background-color: #e6e6e6;
}

.p-notice {
  line-height: 1.5;
  margin-bottom: 1em;
}
.c-notice__text {
  color: rgb(127, 127, 127);
  font-size: 12px;
}
.c-notice__link {
  color: #0d66d0;
  font-weight: bold;
}

.c-error {
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
  background-color: #e83656;
  border-radius: 6px;
  padding: 6px 14px;
  font-size: 12px;
}

.u-mb10 {
  margin-bottom: 10px;
}
.u-mb30 {
  margin-bottom: 30px;
}

// .u-w80per {
//   width: 80%;
// }
.u-h150 {
  height: 150px;
}
