.p-form {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.p-form__header {
  margin-bottom: 10px;
}

.p-form__body {
  width: 100%;
  margin-bottom: 10px;
}

.p-form__submit {
  width: 100%;
  margin-bottom: 20px;
}

.p-form__submit-button {
  height: 3rem;
}

.p-form__errmsg {
  width: 100%;
  margin-bottom: 10px;
}

.p-form__notice {
  margin-left: 8px;
}

.p-form__recaptcha {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 300px;
  margin-bottom: 25px;
}

.p-form__recaptcha-caution {
  font-size: 0.86rem;
  letter-spacing: 0.05em;
  line-height: 2.2;
  font-weight: bold;
}
