.p-form {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.p-form__header {
  font-size: 14px;
  margin-bottom: 5px;
}

.p-form__body {
  width: 100%;
  margin-bottom: 10px;
}

.p-form__submit {
  width: 100%;
  margin-bottom: 25px;
}

.p-form__errmsg {
  width: 100%;
  margin-bottom: 10px;
}

.p-form__notice {
  margin-left: 8px;
}
