.p-main-image {
  position: relative;
}

.p-main-image__image {
  object-fit: cover;
  height: calc(100vh - 95px);
  width: 100vw;
  min-height: 400px;
  vertical-align: bottom;
}

.p-main-image__container {
  position: absolute;
  top: -90px;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  color: #fff;
}

.p-main-image__noticearea {
  margin-left: 80px;
}

.p-main-image__copy {
  font-size: 2.3rem;
  margin-bottom: 60px;
  line-height: 1.6;
}

.p-main-image__button-field {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.p-main-image__button {
  height: 3rem;
  margin-right: 20px;
}

////////////////////////////
// バナー部分
.p-main-image__banner-text-container {
  padding: 60px 0px 120px 0px;
}

.p-main-image__banner-title {
  font-size: 1.25rem;
  margin-bottom: 35px;
  letter-spacing: 0.1em;
  font-weight: bold;
  line-height: 1.875;
}

.p-main-image__banner-text {
  font-size: 0.86rem;
  letter-spacing: 0.05em;
  line-height: 2.2;
}

@media screen and (max-width: 767px) {
  .p-main-image__image {
    height: calc(100vh - 60px);
  }

  .p-main-image__noticearea {
    margin-left: 20px;
  }

  .p-main-image__copy {
    font-size: 1.6rem;
    line-height: 1.8;
  }

  .p-main-image__button-field {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .p-main-image__button {
    margin-bottom: 10px;
  }

  .p-main-image__banner-text-container {
    padding: 20px 20px 100px 20px;
  }

  .p-main-image__banner-title {
    font-size: 1.15rem;
    margin-bottom: 15px;
  }

  .p-main-image__banner-text {
    font-size: 0.83rem;
  }
}
