header {
  z-index: 200;
  position: sticky;
  top: 0;
  left: 0;
}
.header_inner {
  // width: 100%;
  //height: 80px;
  background-color: #fff;
  padding: 0 2.5%;
}

.pc-menu {
  display: flex;
  align-items: center;
}

.sp-menu {
}
.l-header-logo {
  // position: absolute;
  // z-index: 1;
}
.header-logo {
  max-width: 140px;
  width: 40vw;
  height: auto;
  margin-right: 20px;

  img {
    width: 100%;
  }
}

/* お問い合わせ */
.global-nav-sns {
  // display: -webkit-box;
  display: flex;
  // justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
}
.global-nav-sns li {
  display: inline-block;
}

.global-nav-inquiry a {
  color: #fff;
  background-color: #ff7e00;
  border-radius: 100px;
  font-weight: bold;
  font-size: 12px;
  padding: 0 10px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.global-nav-inquiry a:hover {
  background: #ffa246;
}

.global-nav-inquiry a:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background: url("../../images/common/icon-mail.png") no-repeat;
  background-size: contain;
  vertical-align: middle;
}

.global-nav-menu {
  // display: -webkit-box;
  // display: flex;
  // justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-right: 20px;
}
.global-nav-menu li {
  display: inline-block;
  padding: 0 15px;
}
.global-nav-menu li:last-child {
  padding-right: 0;
}
.global-nav-menu li a {
  display: block;
  padding: 25px 0;
  text-align: center;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.global-nav-menu li a:hover {
  color: #ff7e00;
}

// @media screen and (max-width: 480px) {
//   ul.global-nav-menu li.right,
//   ul.global-nav-menu li {
//     float: none;
//   }
// }

.header_contact {
  width: 155px;
  height: 51px;
  right: 0;
}
.header_contact_inner {
  display: block;
  width: 160px;
  height: 40px;
  text-align: center;
  padding: 14px 26px 13px 27px;
  background-color: #ff0600;
  transition: 0.4s;
}
.header_contact_inner:hover {
  transform: scale(1.1, 1.1);
}
.header_contact_inner p {
  color: #fff;
}
.sp-nav-btn-category {
  display: none;
}
#sp-nav-checkbox {
  display: none;
}

.sp-menu {
  display: none;
}

/* スマホ用ハンバーガーメニュー */
@media screen and (max-width: 620px) {
  .pc-menu {
    display: none;
  }
  .sp-menu {
    display: flex;
  }

  .header_inner {
    height: auto;
    width: auto;
    padding: 10px;
  }

  .l-header__menu {
    margin-left: auto;
  }
  .l-header__nav {
    display: none;
  }

  #sp-nav-checkbox:checked ~ .l-header__nav {
    display: block;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    left: 0px;
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;

    background: #fff;
    min-height: calc(100vh - 60px);
  }

  #sp-nav-checkbox:checked ~ .sp-menu {
    min-height: calc(100vh - 60px);
  }

  .global-nav-menu {
    // display: flex;
    // flex-direction: column;
    margin: 0;

    & li {
      display: block;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      padding: 0;
    }
  }

  .global-nav-sns {
    justify-content: center;
    background-color: #fff;

    & li {
      padding: 20px 0;
    }
  }

  .sp-nav-btn-category {
    display: -webkit-box;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

  .sp-nav-btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    // background-color: #000;
    //border: 1px solid #000;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .sp-nav-btn-line {
    height: 2px;
    width: 80%;
    background-color: #000;
  }

  .sp-nav-btn-lavel {
    font-size: 10px;
    line-height: 1;
  }

  .sp-nav-btn-line:not(:last-child) {
    margin-bottom: 5px;
  }

  .global-nav-menu li a {
    padding: 15px 0;
  }
}
